.profit {
  border-radius: 15px;
  background-color: #48ed0c;
  color: white;
  width: 120px;
  height: 60px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
}

.loss {
  border-radius: 15px;
  background-color: red;
  color: white;
  width: 120px;
  height: 60px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer {
  display: flex;
  flex-direction: row;
}
