.profit {
  border-radius: 15px;
  background-color: #48ed0c;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
}
.loss1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loss {
  border-radius: 15px;
  background-color: red;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.maincontainer {
  display: flex;
  flex-direction: column;
  
}
