.varun{
  color: #fff !important;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.varun:hover {
    color: #01bf71 !important;
    transition: 0.3s ease-out;
  }
.varun a{
  color:black;
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  /* background-color: midnightblue; */
}

#header {
  position: absolute;
  width: 220px;
}

#header .pro-sidebar {
  height: 100vh;
}
#header .closemenu {
  color: white;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bolder;
  font-size: 24px;
  top: 55px;
  margin-bottom: 5px;
  cursor: pointer;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  /* background-color: blue; */
  color: #fff;
  /* background-image: linear-gradient(0deg, #4ed7f2 0%, #4ed7f2 100%); */
  background-color: #101522;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 25px;
  padding: 0 20px;
  color: #fff;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #fff;
  margin: 10px 0px;
  font-weight: bold;
  background-color: #282c3c;

}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item:hover {
  color: #01bf71;
  transition: 0.3s ease-out;
}
.sidebarclass{
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.sidebarclass:hover {
    color: #01bf71;
    transition: 0.3s ease-out;
  }
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: #fff;
  color: #000;
  border-radius: 3px;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper:hover {
    color: #01bf71;
    transition: 0.3s ease-out;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  /* background-image: linear-gradient(0deg, #e8ebea 0%, #e8ebea 100%); */
  background-color: #282c3c;
}
#header .pro-sidebar-inner .pro-sidebar-layout .title {
  /* background-image: linear-gradient(0deg, #e8ebea 0%, #e8ebea 100%); */
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
#header .logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
